[Unit] 
Description=Gunicorn instance to serve hello world app 
After=network.target 
 
[Service] 
WorkingDirectory=/home/sal/hello_service 
Environment="PATH=/home/sal/miniconda3/bin" 
EnviromentFile=/home/sal/.bashrc 
ExecStart=/home/sal/miniconda3/bin/gunicorn --workers 1 --bind 0.0.0.0:5001 wsgi:app 
 
[Install] 
WantedBy=multi-user.target